.news-card {
    display: flex;
    width: calc(100% - 30px);
    margin: 0 15px 50px 15px;

    &__pict {
        position: relative;

        width: 70%;
        margin-right: 25px;
        padding-left: 45px;
    }

    &__pict::before {
        content: "";

        position: absolute;
        top: -30px;
        left: 5px;

        width: 40px;
        height: 40px;

        border: 3px solid $color-blue;
    }

    &__pict::after {
        content: "26 FEB";

        position: absolute;
        top: -20px;
        left: 20px;

        width: 40px;
        height: 40px;

        color: $colour-white;
        text-align: center;

        border: 3px solid $color-blue;
        background-color: $color-blue;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__title {
        margin-bottom: 15px;
        font-size: $f-s-sm;
    }

    &__contact {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        font-size: $f-s-xs;
    }

    &__admin {
        display: block;
    }

    &__socials {
        display: flex;
    }

    &__social {
        margin-right: 15px;
    }

    &__social:last-child {
        margin-right: 0;
    }

    &__social_img {
        width: 15px;
    }

    &__link {
        font-size: $f-s-sm;
    }

    &__link:hover {
        color: $color-blue;
    }

    @media(min-width: $sm){
        width: calc(50% - 30px);
    } 
}

.news-card:nth-child(3) {
    @media(min-width: $sm){
        margin-bottom: 0;
    }
}

.news-card:last-child {
    margin-bottom: 0;
} 