.product-card {
    display: flex;
    width: 90%;
    margin-bottom: 20px;

    &__pict {
        width: 70px;
        margin-right: 15px;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__name {
        display: block;
        margin-bottom: 10px;

        font-size: $f-s-sm;
        color: #424c55;
    }

    &__price {
        display: block;
        margin-bottom: 16px;

        font-size: $f-s-xs;
        color: $color-blue;
    }

    &__basket-likes {
        display: flex;
    }

    &__item {
        display: block;
        width: 25px;
        height: 25px;

        border: 1px solid #424c55;
    }

    &__icon {
        width: 100%;
        height: auto;
    }

    &__add {
        display: block;
        width: 90px;
        margin-right: 15px;
        padding-top: 5px;

        font-size: $f-s-xs;
        color: $colour-white;
        text-align: center;

        background-color: $color-blue;
    }
}

.product-card:last-child {
    margin-bottom: 0;
}



