.card {
    position: relative;

    width: 23%;
    height: 340px;

    &__img {
        width: 100%;
        height: auto;
    }

    &__cost {
        position: absolute;
        top: 0;
        left: 0;
        
        display: block;
        width: 50px;
        height: 35px;
        padding-top: 10px;

        color: $colour-white;
        text-align: center;

        background-color: $color-blue;
    }

    &__link {
        position: absolute;

        display: block;
        width: 35px;
        height: 35px;

        border: 2px solid $color-blue;
    }

    &__link::before {
        content: "";

        position: absolute;

        border: 6px solid transparent;
        border-left: 6px solid $color-blue;
        border-top: 6px solid $color-blue;
    }
    
    &__icon {
        position: absolute;
        top: 4px;
        left: 3px;

        width: 25px;
        height: 25px;
    }

    &__link_view {
        top: 70px;
        right: 0;
      

        @media(min-width: $md){
            top: 100px;  
        }

        @media(min-width: $lg){
            top: 150px;
        }
    }

    &__link_like {
        top: 120px;
        right: 0;

        @media(min-width: $md){
            top: 150px;
        }

        @media(min-width: $lg){
            top: 200px;
        }
    }

    &__text {
        position: absolute;
        top: 170px;
        right: 35px;

        display: block;
        width: 100px;
        height: 35px;
        padding-top: 8px; 

        color: $colour-white;
        text-align: center;
        font-size: $f-s-sm;

        background-color: $color-blue;

        @media(min-width: $md){
            top: 200px;
        }

        @media(min-width: $lg){
            top: 250px;
        }
    }

    &__basket {
        top: 170px;
        right: 0;

        @media(min-width: $md){
            top: 200px;
        }

        @media(min-width: $lg){
            top: 250px;
        }
    }

    
}



