.card {
    position: relative;

    width: calc(100% - 30px);
    margin: 0 15px 20px 15px;

    &__pict {
        display: block;
        width: 100%;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__cost {
        position: absolute;
        top: 0;
        
        display: none;
        width: 50px;
        height: 35px;
        padding-top: 10px;

        color: $colour-white;
        text-align: center;

        background-color: $color-blue;
    }

    &__link {
        position: absolute;

        display: block;
        width: 35px;
        height: 35px;

        border: 2px solid $color-blue;
    }

    &__link::before {
        content: "";

        position: absolute;

        border: 6px solid transparent;
        border-left: 6px solid $color-blue;
        border-top: 6px solid $color-blue;
    }
    
    &__icon {
        position: absolute;
        top: 4px;
        left: 3px;

        width: 25px;
        height: 25px;
    }

    &__link_view {
        display: none;

        top: 200px;
        right: 0;

        @media(min-width: $sm){
            top: 70px;    
        }
      
        @media(min-width: $md){
            top: 140px;  
        }

        @media(min-width: $lg){
            top: 190px;
        }
    }

    &__link_like {
        display: none;

        top: 250px;
        right: 0;

        @media(min-width: $sm){
            top: 120px;  
        }

        @media(min-width: $md){
            top: 190px;
        }

        @media(min-width: $lg){
            top: 240px;
        }
    }

    &__text {
        position: absolute;
        top: 300px;
        right: 35px;

        display: none;
        width: 100px;
        height: 35px;
        padding-top: 8px; 

        color: $colour-white;
        text-align: center;
        font-size: $f-s-sm;

        background-color: $color-blue;

        @media(min-width: $xs){
            top: 290px;
        }

        @media(min-width: $sm){
            top: 170px;  
        }

        @media(min-width: $md){
            top: 240px;
        }

        @media(min-width: $lg){
            top: 290px;
        }
    }

    &__basket {
        top: 300px;
        right: 0;

        @media(min-width: $xs){
            top: 290px;
        }

        @media(min-width: $sm){
            top: 170px;  
        }

        @media(min-width: $md){
            top: 240px;
        }

        @media(min-width: $lg){
            top: 290px;
        }
    }

    &__details:hover {
        .card__cost {
            display: block;
        }

        .card__link_view {
            display: block;
        }

        .card__link_like {
            display: block;
        }

        .card__text {
            display: block;
        }
    }

    @media(min-width: $xs){
        width: calc(50% - 30px); 
    }

    @media(min-width: $sm){
        width: calc(33% - 30px);     
    } 

    @media(min-width: $md){
        width: calc(25% - 30px); 
        margin-bottom: 0; 
    }
}







