.card {
    position: relative;

    width: calc(100% - 30px);
    margin: 0 15px 20px 15px;

    &__pict {
        display: block;
        width: 100%;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__details {
        position: absolute;
        top: 0;

        width: 100%;
        height: 100%;
    }

    &__details:hover {
        cursor: pointer;

        .card__cost {
            display: block;
        }

        .card__link {
            display: block;
        }

    }

    &__cost {
        position: absolute;
        top: 0;
        
        display: none;
        width: 45px;
        height: 30px;
        padding-top: 6px;

        color: $colour-white;
        text-align: center;

        background-color: $color-blue;
    }

    &__link {
        position: relative;

        display: none;
        width: 30px;
        height: 30px;

        border: 1px solid $color-blue;
    }

    &__link::before {
        content: "";

        position: absolute;

        border: 6px solid transparent;
        border-left: 6px solid $color-blue;
        border-top: 6px solid $color-blue;
    }
    
    &__icon {
        position: absolute;
        top: 2px;
        left: 2px;

        width: 25px;
        height: 25px;
    }

    &__link-view {
        position: absolute;
        right: 0;
        bottom: 135px;
    }

    &__link-like {
        position: absolute;
        right: 0;
        bottom: 80px;
    }

    &__link-basket {
        position: absolute;
        right: 0;
        bottom: 25px;

        display: flex;
    }

    &__link-basket:hover {
        .card__basket-text {
            display: block;
        }
    }

    &__basket-text {
        display: none;
        width: 100px;
        height: 30px;
        padding-top: 8px; 

        color: $colour-white;
        text-align: center;
        font-size: $f-s-sm;

        background-color: $color-blue;
    }

    &__basket-btn {
        position: relative;

        display: block;
        width: 30px;
        height: 30px;

        border: 1px solid $color-blue;
    }

    &__basket-btn::before {
        content: "";

        position: absolute;

        border: 6px solid transparent;
        border-left: 6px solid $color-blue;
        border-top: 6px solid $color-blue;
    }

    @media(min-width: $xs){
        width: calc(50% - 30px); 
    }

    @media(min-width: $sm){
        width: calc(33% - 30px);     
    } 

    @media(min-width: $md){
        width: calc(25% - 30px); 
        margin-bottom: 0; 
    }
}










