$f-s-xs: 12px;
$f-s-sm: 14px;
$f-s-md: 18px;
$f-s-lg: 24px;

$font-family: "robotoslab", "Arial", serif;

// $font-weigth-bolder: 400;
// $font-weigth-bold: 700;

$color-blue: #48689a;
$colour-light-gray: #f7f7f7;
$colour-gray: #eeeeee;
$colour-white: #ffffff;

$xs: 576px;
$sm: 768px;
$md: 960px;
$lg: 1170px;





