.news-card
  .news-card__pict
    img.news-card__img(src="src/img/news-card.png", alt="card")
    .news-card__date
      span.news-card__date-day 26
      br
      span.news-card__date-day FEB
  .news-card__info
    p.news-card__title 4 DENIM SHAPES WORTH HANG-ING UP YOUR SKINNY JEANS
    .news-card__contact
      span.news-card__admin Admin
      ul.news-card__socials
        -
          var socials= ["src/svg/facebook.svg",
                        "src/svg/twitter.svg",  
                        "src/svg/google-plus.svg"]
        each item in socials
          li.news-card__social
            a.news-card__social-link(href="#")
              img.news-card__social-img(src=item, alt="social")





        li.news-card__link
          a.news-card__link_facebook(href="#")
        li.news-card__link
          a.news-card__link_twitter(href="#")
        li.news-card__link
          a.news-card__link_google(href="#")
    a.news-card__link(href="#") Read full article...
