.news-card
    .news-card
    span.news-card__date
    img.news-card__img(alt="")
    .news-card__info
        p.news-card__title
        .news-card__contact
            span.news-card__admin
            ul.news-card__socials
                li.news-card__link
                    a.news-card__link.news-card__link_facebook(href="#")
                li.news-card__link
                    a.news-card__link.news-card__link_twitter(href="#")
                li.news-card__link
                    a.news-card__link.news-card__link_google(href="#")
        a.news-card__link(href="#")
