.product-card
  .product-card__pict
    img.product-card__img(src="src/img/product-card.png", alt="product")
  .product-card__details
    span.product-card__name T-shirt
    span.product-card__price $250

    .product-card__basket-likes
      a.product-card__item(href="#")
        img.product-card__icon(src="src/svg/basket.svg", alt="card")
      span.product-card__add Add to cart
      a.product-card__item(href="#")
        img.product-card__icon(src="src/svg/heart.svg",alt="card")
