.product-card
    img.product-card__img(src="src/img/product.png", alt="product")
    .product-card__details
        span.product-card__name
        span.product-card__price
        .product-card__basket-likes
            a.product-card__basket(href="#")
                img.product-card__basket_icon(alt="card")
            span.product-card__basket_text
            a.product-card__likes(href="#")
