.card 
  a.card__pict(href="#")
    img.card__img(src='src/img/sale-card.png', alt='picture')
  .card__details
    span.card__cost $500

    a.card__link-view.card__link(href="#")
      img.card__icon(src="src/svg/eye.svg", alt="card")

    a.card__link-like.card__link(href="#")
      img.card__icon(src="src/svg/heart.svg", alt="card")

    a.card__link-basket(href="#")
      span.card__basket-text Add to cart
      .card__basket-btn
        img.card__icon(src="src/svg/basket.svg", alt="card")




    