.card 
  .card__details
    span.card__cost $500

    a.card__link.card__link_view(href="#")
      .card__link_corner
      img.card__icon(src="src/svg/eye.svg", alt="card")

    a.card__link.card__link_like(href="#")
      .card__link_corner
      img.card__icon(src="src/svg/heart.svg", alt="card")

    a.card__text(href="#") Add to cart

  a.card__link.card__basket(href="#")
    .card__link_corner
    img.card__icon(src="src/svg/basket.svg", alt="card")




    