.card 
  a.card__pict(href="#")
    img.card__img(src='src/img/sale-card.png', alt='picture')
  .card__details
    span.card__cost $500

    a.card__link.card__link_view(href="#")
      img.card__icon(src="src/svg/eye.svg", alt="card")

    a.card__link.card__link_like(href="#")
      img.card__icon(src="src/svg/heart.svg", alt="card")

    span.card__text Add to cart

  a.card__link.card__basket(href="#")
    img.card__icon(src="src/svg/basket.svg", alt="card")




    