.shop-card
  .shop-card__photo
    img.shop-card__img(src="src/img/shop-card.png", alt="photo")
  .shop-card__details
    span.shop-card__title HILFIGER DENIM T-SHIRTS MEN.
    span.shop-card__price $289
    .shop-card__availab-rating
        span.shop-card__availab Availavility:
          span.shop-card__availab_blue IN STOCK
        img.aside__card_stars(src="src/svg/star.svg", alt="stars")
        img.aside__card_stars(src="src/svg/star.svg", alt="stars")
        img.aside__card_stars(src="src/svg/star.svg", alt="stars")
        img.aside__card_stars(src="src/svg/star.svg", alt="stars")
        img.aside__card_stars(src="src/svg/star.svg", alt="stars")
    p.shop-card__info Retro tennis rackets make this garment-dyed jersey tee stand out. - crew neck - Hilfiger Denim flag logo on the sleeve Our model is 1.86m and is wearing a size M Hilfiger Denim T-shirt.
    
    .shop-card__reviews

      a.shop-card__link.shop-card__link_like(href="#")
        img.shop-card__icon(src="src/svg/heart.svg", alt="card")

      a.shop-card__link.shop-card__link_view(href="#")
        img.shop-card__icon(src="src/svg/eye.svg", alt="card")

      a.shop-card__link.shop-card__basket(href="#")
        img.shop-card__icon(src="src/svg/basket.svg", alt="card")

    