.shop-card
  a.shop-card__photo(href="#")
    img.shop-card__img(src="src/img/shop-card.png", alt="photo")
  .shop-card__details
    a.shop-card__title(href="#") HILFIGER DENIM T-SHIRTS MEN.
    span.shop-card__price $289
    .shop-card__availab-rating
        span.shop-card__availab Availavility:
          span.shop-card__availab_blue IN STOCK
        img.shop-card__stars(src="src/svg/star.svg", alt="stars")
        img.shop-card__stars(src="src/svg/star.svg", alt="stars")
        img.shop-card__stars(src="src/svg/star.svg", alt="stars")
        img.shop-card__stars(src="src/svg/star.svg", alt="stars")
        img.shop-card__stars(src="src/svg/star.svg", alt="stars")
    p.shop-card__info Retro tennis rackets make this garment-dyed jersey tee stand out. - crew neck - Hilfiger Denim flag logo on the sleeve Our model is 1.86m and is wearing a size M Hilfiger Denim T-shirt.
    
    .shop-card__reviews

      a.shop-card__link-like.shop-card__link(href="#")
        img.shop-card__icon(src="src/svg/heart.svg", alt="card")

      a.shop-card__link-view.shop-card__link(href="#")
        img.shop-card__icon(src="src/svg/eye.svg", alt="card")

      a.shop-card__link-basket(href="#")
        span.shop-card__basket-text Add to cart
        .shop-card__basket-btn
          img.shop-card__icon(src="src/svg/basket.svg", alt="card")

    