doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title weshop
    link(href='src/css/style.css', rel='stylesheet')
  body

    include pages/_header
    include pages/_main
    include pages/_offers
    include pages/_collection
    include pages/_personal
    include pages/_featured
    include pages/_news
    include pages/_product
    include pages/_newsletter
    include pages/_brand
    include pages/_footer