doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title weshop
    link(href='src/css/style.css', rel='stylesheet')
  body

    include pages/_header
   
    section
      .shop-head
        .container
          .shop-head__row.row
            ul.shop-head__breadcrumbs
              -
                var breadCrumbs = ["Home >", 
                                  "shop"]
              each item in breadCrumbs                 
                li.shop-head__breadcrumbs-item
                  a.shop-head__breadcrumbs-link(href="#")= item
            
            h1.shop-head__title PRODUCT  

    include pages/_shop  
    include pages/_product
    include pages/_newsletter
    include pages/_brand
    include pages/_footer



