
<div class="news-card">
	<div class="news-card__border"></div><span class="news-card__date"></span><img class="news-card__img" alt=""/>
	<div class="news-card__info">
		<p class="news-card__title"></p>
		<div class="news-card__contact"><span class="news-card__admin"></span>
			<ul class="news-card__socials">
				<li class="news-card__link"><a class="news-card__link news-card__link_facebook" href="#"></a></li>
				<li class="news-card__link"><a class="news-card__link news-card__link_twitter" href="#"></a></li>
				<li class="news-card__link"><a class="news-card__link news-card__link_google" href="#"></a></li>
			</ul>
		</div><a class="news-card__link" href="#"></a>
	</div>
</div>