section
  .brand
    .container
      .row
        .brand__list
          -
            var brands= ["src/img/brand-1.png",
                        "src/img/brand-2.png", 
                        "src/img/brand-3.png", 
                        "src/img/brand-4.png", 
                        "src/img/brand-5.png", 
                        "src/img/brand-6.png"]
          each item in brands
            .brand__item
              img.brand__logo(src=item, alt="brand")