section
  .featured
    .container
        .row.row-around
          .section-head
            h3.section-head__title FEATURED
            include ../components/_header-small

          .featured__wrap                 
            - for (var i = 1; i <= 4; i++)
              include ../components/_sale-card 

          .featured__wrap
            .featured__info
              .featured__content
                span.featured__info_line NEW
                span.featured__info_line MEN'S COLLECTION
                span.featured__info_line COMING SOON
            .featured__info
              img.featured__img(src='src/img/featured.png', alt='picture')