footer.footer
  .container
    .row
      .footer__col
        a.footer__logo(href="#")
          img.footer__img(src="src/img/logo.png", alt="logo")
        p.footer__about USA most-loved online fashion store featuring new details.
        br
        p.footer__about When it comes to trend, we all love being in it- Seeping every bit of it in WESHOP.com
      .footer__col
        span.footer__title SUPPORT
        br
        br
        span.footer__about How to Older?
        br
        span.footer__about Payments
        br
        span.footer__about Assistance
        br
        span.footer__about Deliver
      .footer__col
        span.footer__title DUTIES
        br
        br
        span.footer__about Terms and Conditions
        br
        span.footer__about Shop Policy
        br
        span.footer__about Contact Us
      .footer__col
        span.footer__title INSTAGRAM FEED
        br
        br
        .footer__insta
          .footer__col_sm
            -
              var insta= ["src/img/insta.png",  
                          "src/img/insta.png"]
            each item in insta 
              .footer__imgs
                img.footer__pict(src=item, alt="insta")
          .footer__col_sm     
            -
              var insta= ["src/img/insta.png",  
                          "src/img/insta.png"]
            each item in insta 
              a.footer__imgs(href="#")
                img.footer__pict(src=item, alt="insta")
                          
        .footer__cards 
          -
            var cards= ["src/img/credit-card.png",
                        "src/img/credit-card.png", 
                        "src/img/credit-card.png", 
                        "src/img/credit-card.png", 
                        "src/img/credit-card.png"]
          each item in cards
            a.footer__cards-link(href="#")  
              img.footer__cards-img(src=item, alt="card")
      
  ul.footer__social
    -
      var socials= ["src/svg/facebook.svg",
                    "src/svg/twitter.svg", 
                    "src/svg/linkedin.svg", 
                    "src/svg/youtube.svg",  
                    "src/svg/google-plus.svg"]
    each item in socials
      li.footer__social-item
        a.footer__social-link(href="#")
          img.footer__social-img(src=item, alt="social")
      
  span.footer__copyright Copyrights MOHAMMAD SHOAHG. All rights researved 2016







