doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title weshop
    link(href='src/css/style.css', rel='stylesheet')
  body

    include _header
    include _main
    include _offers
    include _collection
    include _personal
    include _featured
    include _news
    include _product
    include _newsletter
    include _brand
    include _footer