section
  .main
    .container
      .row.main__row

        button.main__slider.main__slider_prev(href="#")
          pre.main__pre
            |P
            |R
            |E
            |V
        .main__title
          h1.main__title_name FASHION IS NOTHING
          h2.main__title_text BUT
            span.main__title_blue  MISCHIEFF
          a.main__btn.btn.btn-big(href="#")
            span.btn-text SHOP NOW
        button.main__slider.main__slider_next(href="#")
          pre.main__pre
            |N
            |E
            |X
            |T