section
  .newsletter
    .container
      .row
        .newsletter__col
          .newsletter__col_border
        .newsletter__col
          .newsletter__info
            h3.newsletter__title NEWSLETTER
            span.newsletter__subtitle we are promissing,we will not spam.
            form.newsletter__form
              input.newsletter__form_email(type='email' name='name' placeholder='Enter your email')
              button.newsletter__form_btn(href="#")
                img.newsletter__form_arrow(src="src/svg/right-ar.svg", alt="enter")