section
  .news
    .container
      .row.row-around 
        h3.news__title LATEST NEWS
        .news__wrap
          - for (var i = 1; i <= 4; i++)
            include ../components/_news-card 
        