section
	.offers
		.container
			.row
				.offers__wrap.line
					.offers__stock
						a.offers__stock_link.stock(href="#")  
						span.stock__line.stock__line_first Men's t-shirt
						br
						span.stock__line.stock__line_big collection
						br
						span.stock__line.stock__line_wide 2016
					.offers__stock
						span.stock__line.stock__line_first 50% OFFER
						br
						span.stock__line.stock__line_second BELT
						span.stock__line_blue  COLLECTION
						br
						a.stock__line.stock__line_link(href="#") See more...



				.offers__wrap.line
					-
						var options= [{
									name:'24/7 HOUR SUPPORT',
									text:"Our online support section is available and regularly updated if you'd prefer."},
									{name:'EASY SERVICE',
									text:"Our online support section is available and regularly updated if you'd prefer."},
									{name:'HOME DELIVERY',
									text:"Our online support section is available and regularly updated if you'd prefer."}
									]
					each item in options
						.offers__option
							.offers__option_info
								span.offers__option_name= item.name   
								p.offers__option_text= item.text



				.offers__wrap.line
					.offers__details
						.offers__detail.offers__detail_first
							img.offers__detail_pict(src='src/img/offers.png', alt='picture')
						.offers__detail.offers__detail_second
							img.offers__detail_pict(src='src/img/offers.png', alt='picture')
							a.offers__detail_btn.btn.btn-big(href="#")
								span.btn-text SHOP NOW
					.offers__details
						.offers__detail.offers__detail_third   
							img.offers__detail_pict(src='src/img/offers.png', alt='picture')
						.offers__detail.offers__detail_fourth
							img.offers__detail_pict(src='src/img/offers.png', alt='picture')
					.offers__details
						span.offers__details_text MENS / LIFESTYLE
						br
						button.offers__details_link(href="#") 
							img.offers__details_arrow(src="src/svg/right-ar.svg", alt="later")