section
	.offers
		.container
			.row
				.offers__wrap
					a.offers__col_lg(href="#")
						p.offers__stock.offers__stock_left
							span.offers__title Men's t-shirt
							br
							span.offers__subtitle collection
							br
							span.offers__year 2016

					a.offers__col_lg(href="#")
						p.offers__stock.offers__stock_right
							span.offers__title 50% OFFER
							br
							span.offers__subtitle BELT
								span.offers__subtitle_blue  COLLECTION
							br
							span.offers__link(href="#") See more...


				.offers__wrap
					-
						var options= [{
									name:'24/7 HOUR SUPPORT',
									text:"Our online support section is available and regularly updated if you'd prefer."},
									{name:'EASY SERVICE',
									text:"Our online support section is available and regularly updated if you'd prefer."},
									{name:'HOME DELIVERY',
									text:"Our online support section is available and regularly updated if you'd prefer."}
									]
					each item in options
						.offers__col_sm
							.offers__info
								span.offers__name= item.name   
								p.offers__text= item.text


				.offers__wrap
					.offers__col_md
						.offers__detail.offers__detail_first
							img.offers__pict(src='src/img/offers.png', alt='picture')
						.offers__detail.offers__detail_second
							img.offers__pict(src='src/img/offers.png', alt='picture')
							a.offers__btn.btn.btn-big(href="#")
								span.btn-text SHOP NOW
					.offers__col_md
						.offers__detail.offers__detail_third   
							img.offers__pict(src='src/img/offers.png', alt='picture')
						.offers__detail.offers__detail_fourth
							img.offers__pict(src='src/img/offers.png', alt='picture')
					.offers__col_md
						span.offers__details-text MENS / LIFESTYLE
						a.offers__arrow(href="#") 
							img.offers__arrow_blue(src="src/svg/right-ar.svg", alt="later")