section
  .personal
    .container
        .personal__row.row
            a.personal__slider.personal__slider_prev(href="#")
                img.personal__slider_prev-icon(src="src/svg/right-ar.svg", alt="before")
            .personal__title
                b.personal__title_first PERSONAL 
                    span.personal__title_blue  ASSISTENT
                p.personal__title_second You don't know what to choose? We will help you
                a.personal__btn.btn.btn-big(href="#")
                  span.btn-text VIEW COLLECTION
            a.personal__slider.personal__slider_next(href="#") 
                img.personal__slider_next-icon(src="src/svg/right-ar.svg", alt="after")