doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title weshop
    link(href='src/css/style.css', rel='stylesheet')
  body

    include _header

    section
      .shop-head
        .container
          .shop-head__row.row
            span.shop-head__crumbs Home>shop>details
            h1.shop-head__title PRODUCT DETAILS

    include _products    
    include _review
    include _related-items
    include _brand
    include _footer
    
          
        

