.header {
    height: 120px;
    padding-top: 15px;

    font-size: $f-s-xs;
    color: $colour-white;

    background-color: $color-blue;

    &__col_left {
        display: flex;
        flex-wrap: wrap;
        width: 25%;   
    }

    &__number {
        display: block;
        width: 50%;
    }

    &__number::before {
        content: url(../svg/phone.svg);
    }

    &__email {
        display: block;
        width: 50%;
    }

    &__email::before {
        content: url(../svg/email.svg);
    }

    &__logo {
        display: block;
        width: 40%;
        padding-top: 20px;

        color: $colour-white;
    }

    &__logo_img {
        width: 100%;
        height: auto;
    }

    &__col_center {
        width: 50%;
    }

    &__search {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 0 auto 30px;
        padding: 10px 0 5px 10px;
        
        border-bottom: 1px solid $colour-white;
    }

    &__input {
      display: block;

      background-color: $color-blue;
    }

    &__input_link {
        display: block;
        padding-right: 5px;
    }

    &__input_link::before {
        content: url(../svg/loupe.svg);
    }

    &__main-nav {
        width: 80%;
        margin: 0 auto;
    }

    &__nav-list {
        display: flex;
        justify-content: space-between;

        font-size: $f-s-sm;
    } 

    &__link {
        color: #ffffff;
    }

    &__nav-item:nth-child(2)::after {
        content: url(../svg/right-arrow.svg);
    }

    &__nav-item:nth-child(3)::after {
        content: url(../svg/right-arrow.svg);
    }

    &__nav-item:nth-child(4)::after {
        content: url(../svg/right-arrow.svg);
    }

    &__nav-item:nth-child(5)::after {
        content: url(../svg/right-arrow.svg);
    }

    &__col_right {
        width: 25%;
    }

    &__lang-cur-login {
        display: flex;
        justify-content: flex-end;
    }

    &__lang-cur-login_item:first-child::after {
        margin-right: 40px;

        content: url(../svg/right-arrow.svg);
    }

    &__lang-cur-login_item:nth-child(2)::after {
        margin-right: 40px;

        content: url(../svg/right-arrow.svg);
    }

    &__basket {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
    }

    &__basket_link {
        position: relative;

        display: block;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        padding: 6px 0 0 6px;

        border: 1px solid $colour-white;
        border-radius: 20px;
    }

    &__basket_link::before {
        content: url(../svg/bag.svg);
    }

    &__basket_quant {
        position: absolute;
        top: -5px;
        right: -5px;

        display: block;
        width: 16px;
        height: 16px;

        color: $color-blue;
        text-align: center;

        border: 1px solid $colour-white;
        border-radius: 8px;
        background-color: $colour-white;
    }

    &__basket_quant {
        vertical-align: center;
    }
}









.main {
    height: calc(100vh - 120px);
    padding-top: 150px;

    &__row {
        position: relative;
    }

    &__slider {
        position: absolute;

        display: block;
        width: 40px;

        font-size: $f-s-lg;
        color: $color-blue;
    }

    &__slider_prev {
        left: 0;

         @media(min-width: $lg){
        left: -40px;  
        }
    }

    &__slider_next {
        right: 0;

        @media(min-width: $md){
            text-align: center;
        }

        @media(min-width: $lg){
            right: -40px;

            text-align: end;    
        }
    }

    &__title {
        width: 100%;

        text-align: center;

        @media(min-width: $lg){
            padding-left: 200px;  
            
            text-align: start;
        }
    }

    &__title_name {
        margin-bottom: 10px;
    }

    &__title_text {
        margin-bottom: 20px;
    }

    &__title_blue {
        color: $color-blue;
    }

    &__btn {
        margin: 0 auto;

        color: #ffffff;

        background-color: $color-blue;

        @media(min-width: $lg){
            margin: 0;
            
        }
    }
}









.offers {
    position: relative;

    padding: 50px 0 100px 0;

    background-color: $colour-light-gray;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 80px;
    }

    &__wrap:last-child {
        margin-bottom: 0;
    }

    &__content {
        position: relative;

        width: 100%;
        height: 250px; 
        padding: 0 15px 0 15px; 


        @media(min-width: $sm){
            width: 50%;  
        }
    }

    &__content:first-child {
        margin-bottom: 50px;

        @media(min-width: $sm){
            margin-bottom: 0;   
        }
    }

    &__stock {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        border: 3px solid $colour-gray;
        background-color: $colour-white;
    }

    // &__stock:before {
    //     position: absolute;

    //     width: 90%;
    //     height: 95%;

    //     border: 3px solid $color-blue;
    // }

    &__stock_link {
        display: block;

        text-align: center;
    }

    .stock__line_first {
        font-size: $f-s-md;
    }

    .stock__line_big {
        font-size: $f-s-lg;
        color: $color-blue;
    }

    .stock__line_wide {
        letter-spacing: 7px;
    }

    .stock__line_blue {
        color: $color-blue;
    }

    .stock__line_link {
        font-size: $f-s-sm;
    }

    .stock__line_link:hover {
        color: $color-blue;
    }

    &__option {
        width: 100%;
        margin-bottom: 80px;
        padding: 0 15px 0 15px;

        @media(min-width: $sm){
            width: 33%;  
            margin-bottom: 0;
        }
    }

    &__option:last-child {
        margin-bottom: 0;
    }

    &__option::before {
        content: url(../svg/headphones.svg);

        position: absolute;

        font-size: $f-s-sm;
    }

    &__option_info {
        padding-left: 60px;
    }

    &__option_text {
        color: #3c4852;
    }

    &__details {
        position: relative;

        width: 100%;
        height: 500px;  
        margin-bottom: 20px;
        padding: 0 15px 0 15px; 

        @media(min-width: $xs){
            width: 50%; 
        }
        
        @media(min-width: $sm){
            width: 33%; 
            margin-bottom: 0; 
        }
    }

    &__details:last-child {
        margin-bottom: 0;

        @media(min-width: $xs){ 
            width: 100%;
            height: 200px;   
        }

        @media(min-width: $sm){
            width: 33%;
            height: 500px;
        }
    }

    &__detail {
        width: 100%;
        height: 240px;
    }

    &__detail:first-child {
        margin-bottom: 20px;  
    }

    &__detail_pict {
        width: 100%;
        height: 100%;
    }

    &__detail_first {
        clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    }
 
    &__detail_second {
        position: relative;

        clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
    }

    &__detail_btn {
        position: absolute;
        top: 150px;
        left: 1%;

        @media(min-width: $lg){
            left: 15%;
        }
    }

    &__detail_fourth {
        position: relative;

        color: $colour-white;
    }

    &__detail_fourth::before {
        content: "New";

        position: absolute;
        top: 20px;
        left: 20px;

        display: block;
        width: 50px;
        height: 50px;
        padding-top: 13px;

        text-align: center;

        border: 1px solid $color-blue;
        border-radius: 25px;
        background-color: $color-blue;
    }

    &__details:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        background-color: $colour-white;
    } 
    
    &__details:last-child::before {
        content: "";

        position: absolute;
        top: 3%;
        left: 5%;

        width: 90%;
        height: 94%;
        
        border: 3px solid $color-blue;
    }
}









.collection {
    padding: 100px 0 100px 0;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
    }  
}

.card:nth-child(7) {
    @media(min-width: $xs){
        margin-bottom: 0; 
    }
}









.personal {
    padding: 200px 0 200px 0;

    background-color: #f1edee;

    &__row {
        position: relative;
    }

    &__slider {
        position: absolute;

        display: block;
        width: 45px;
    }

    &__slider_prev {
        left: 0;

        @media(min-width: $lg){
            left: -45px;
        }
    }

    &__slider_prev-icon {  
        transform: rotate(180deg);
    }

    &__slider_next {
        right: 0;

        text-align: end;

        @media(min-width: $lg){
            right: -45px;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }

    &__title_first {
        display: block;
        margin-bottom: 10px;
        
        font-size: 40px;
        text-align: center;
    }

    &__title_blue {
        color: $color-blue;
    }

    &__title_second {
        margin-bottom: 20px;

        font-size: $f-s-lg;
        text-align: center;
    }  
}









.featured {
    padding: 100px 0 100px 0;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 50px;
    }

    &__wrap:last-child {
        margin-bottom: 0;
    }

    &__info:first-child {
        margin-bottom: 20px;

        @media(min-width: $sm){
            margin-bottom: 0;
        }
    }

    &__info {
        width: 100%;
        height: 250px;
        padding: 0 15px 0 15px;

        @media(min-width: $sm){
            width: 50%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        font-size: $f-s-lg;

        border: 20px solid #f7f6f3;

        @media(min-width: $sm){
            margin-bottom: 0;
        }
    }

    &__info_line:last-child {
        display: block;
        letter-spacing: 5px;
    }

    &__img {
        width: 100%;
        height: 100%;
    }
}

.card:nth-child(3) {
    @media(min-width: $xs){
        margin-bottom: 0; 
    }
}









.news {
    padding: 100px 0 100px 0;

    background-color: $colour-light-gray;

    &__title {
        width: 100%;
        margin-bottom: 50px;

        text-align: center;
    }

    &__wrap{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    &__wrap:last-child {
        margin-bottom: 0;
    }
}









.product {
    margin-bottom: 100px;
    padding-top: 100px;

    &__title {
        margin-bottom: 15px;

        font-size: $f-s-md;
    }

    &__col {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 50px;
        padding: 0 15px 0 15px;

        @media(min-width: $sm){
            width: 33%;
            margin-bottom: 0;
            padding: 0 15px 0 15px;
        }
    }

    &__col:nth-child(2) {
        align-items: center;

        .product-card {
            justify-content: center;
        }
    }

    &__col:last-child {
        align-items: flex-end;
        margin-bottom: 0;

        .product-card {
            justify-content: flex-end;
        }

        .product-card__pict {
            order: 2;

            margin-right: 0;
        }

        .product-card__details {
            order: 1;
            margin-right: 15px;

            text-align: end;
        }
    }
}









.newsletter {
    margin-bottom: 50px;

    &__col {
        width: 100%;
        height: 250px;
        padding: 0 15px 0 15px;

        @media(min-width: $sm){
            width: 50%;
        }
    }

    &__col:first-child {
        margin-bottom: 20px;

        @media(min-width: $sm){
            margin-bottom: 0;
        }
    }

    &__col_border {
        position: relative;  

        width: 100%;
        height: 100%;

        background-color: $colour-gray; 
    }

    &__col_border:before {
        content: "";

        position: absolute;
        top: 25px;
        left: 5%;

        width: 90%;
        height: 200px;

        border: 5px solid $colour-white;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;

        background-color: $colour-light-gray;
    }

    &__title {
        display: block;
        margin-bottom: 10px;

        font-size: $f-s-lg;
    }

    &__subtitle {
        display: block;
        margin-bottom: 10px;

        font-size: $f-s-sm;
    }

    &__form {
        width: 50%;
        height: 40px;
        padding-left: 15px;

        font-size: $f-s-xs;

        border: 1px solid $colour-gray;
    }

    &__form_email {
        width: 80%;
        padding-top: 13px;

        background-color: $colour-light-gray;
    }

    &__form_arrow {
        width: 20px;
        height: auto;
    }
}









.brand {
    padding: 80px 0 80px 0;

    background-color: $colour-light-gray;

    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-bottom: 20px;

        @media(min-width: $sm){
            width: 33%;
        }

        @media(min-width: $md){
            width: 16.66%;
            margin-bottom: 0;
        }
    }

    &__item:nth-child(4) {
        @media(min-width: $sm){
            margin-bottom: 0;
        }  
    }

    &__item:nth-child(5) {
        margin-bottom: 0;
    }

    &__item:last-child {
        margin-bottom: 0;
    }
}









.footer {
    padding-top: 50px;

    font-size: $f-s-sm;

    &__wrap {
        margin-bottom: 20px;
    }

    &__col {
        position: relative;

        display: flex;
        width: 100%;

        @media(min-width: $md){
            width: 50%;
        }
    }

    &__col:first-child {
        margin-bottom: 50px;

        @media(min-width: $md){
            margin-bottom: 0;
        }
    }

    &__item {
        width: 50%;
        padding-left: 10px;
    }

    &__logo {
        display: block;
        width: 50%;
        margin-bottom: 15px;
    }

    &__logo_img {
        width: 100%;
        height: auto;
    }

    &__item_support {
        padding-left: 80px;
    }

    &__insta {
        display: flex;
        flex-wrap: wrap
    }

    &__insta_col {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 50%;
        margin-bottom: 20px;
        padding-bottom: 20px;

        border-bottom: 1px solid $colour-gray;
    }

    &__insta_imgs {
        width: 60px;
    }

    &__insta_img {
        width: 100%;
        height: auto;
    }
    
    &__item_cards {
        display: flex;
        justify-content:flex-start;
        padding-bottom: 20px;

        border-bottom: 1px solid $colour-gray;

        @media(min-width: $sm){
            padding-left: 5px;
        }
    }

    &__item_card {
        display: block;
        margin-right: 5px;
        width: 25px;
        height: auto;

        @media(min-width: $sm){
            width: 30px;
        }
    }

    &__item_card:last-child {
        margin-right: 0;
    }

    &__socials {
        display: flex;
        justify-content: center;
        width: 350px;
        margin: 0 auto 20px auto;
        padding-bottom: 20px;

        border-bottom: 1px solid $colour-gray;
    }

    &__social {
        padding: 0 10px;
    }

    &__social_img {
        width: 25px;
        height: 25px;
    }

    &__copyright {
        display: block;
        width: 100%;
        height: 40px;
        padding-top: 13px;
        
        font-size: $f-s-xs;
        text-align: center;
        color: $colour-white;

        background-color: $color-blue;
    }
}









