.header {
    padding: 15px 0 15px 0;

    font-size: $f-s-xs;
    color: $colour-white;

    background-color: $color-blue;

    &__col {
        margin: 0 15px 0 15px;
    }

    &__col:first-child {
        display: flex;
        flex-wrap: wrap;
        width: calc(30% - 30px);   
    }

    &__number {
        position: relative;

        display: block;
        width: 50%;
    }

    &__number::before {
        content: url(../svg/phone.svg); 

        position: absolute;
        top: -1px;
        left: -20px;
    }

    &__email {
        position: relative;

        display: block;
        width: 50%;
    }

    &__email::before {
        content: url(../svg/email.svg);

        position: absolute;
        left: -20px;
    }

    &__logo {
        display: block;
        width: 40%;
        padding-top: 20px;

        color: $colour-white;
    }

    &__logo-img {
        width: 100%;
        height: auto;
    }

    &__col:nth-child(2) {
        width: calc(45% - 30px);
    }

    &__search {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 0 auto 30px;
        padding: 10px 0 5px 10px;
        
        border-bottom: 1px solid $colour-white;
    }

    &__input {
      display: block;

      background-color: $color-blue;
    }

    &__input-link {
        display: block;
        padding-right: 5px;
    }

    &__input-link::before {
        content: url(../svg/loupe.svg);
    }

    &__main-nav-list {
        display: flex;

        font-size: $f-s-sm;
    } 

    &__main-nav-item {
        margin-right: 30px;
    }

    &__main-nav-item:last-child {
        margin-right: 0;
    }

    &__main-nav-item:nth-child(2)::after {
        content: url(../svg/right-arrow.svg);
    }

    &__main-nav-item:nth-child(3)::after {
        content: url(../svg/right-arrow.svg);
    }

    &__main-nav-item:nth-child(4)::after {
        content: url(../svg/right-arrow.svg);
    }

    &_main-nav-item:nth-child(5)::after {
        content: url(../svg/right-arrow.svg);
    }

    &__col:last-child {
        width: calc(25% - 30px);
    }

    &__nav {
        display: flex;
        justify-content: flex-end;
    }

    &__nav-item {
        margin-right: 40px;
    }

    &__nav-item:last-child {
        margin-right: 0;
    }

    &__nav-item:first-child::after {
        content: url(../svg/right-arrow.svg);
    }

    &__nav-item:nth-child(2)::after {
        content: url(../svg/right-arrow.svg);
    }

    &__link {
        color: $colour-white;
    }

    &__link:hover {
        color: $colour-gray;
    }

    &__basket {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
    }

    &__basket-link {
        position: relative;

        display: block;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        padding: 6px 0 0 6px;

        border: 1px solid $colour-white;
        border-radius: 20px;
    }

    &__basket-link::before {
        content: url(../svg/bag.svg);
    }

    &__basket-quant {
        position: absolute;
        top: -5px;
        right: -5px;

        display: block;
        width: 16px;
        height: 16px;

        color: $color-blue;
        text-align: center;
        vertical-align: center;

        border: 1px solid $colour-white;
        border-radius: 8px;
        background-color: $colour-white;
    }
}









.main {
    height: 100vh;
    padding-top: 150px;

    &__row {
        position: relative;
    }

    &__slider {
        position: absolute;

        display: none;
        width: 40px;

        font-size: $f-s-lg;
        color: $color-blue;

        cursor: pointer;

        @media(min-width: $sm){
            display: block;  
        }
    }

    &__slider_prev {
        left: 0;

        @media(min-width: $lg){
            left: -40px;  
        }
    }

    &__slider_next {
        right: 0;

        @media(min-width: $md){
            text-align: center;
        }

        @media(min-width: $lg){
            right: -40px;

            text-align: end;    
        }
    }

    &__pre:hover {
        color: $colour-gray;
    }

    &__title {
        width: 100%;

        text-align: center;

        @media(min-width: $lg){
            padding-left: 200px;  
            
            text-align: start;
        }
    }

    &__title-name {
        margin-bottom: 10px;
    }

    &__title-text {
        margin-bottom: 20px;
    }

    &__title_blue {
        color: $color-blue;
    }

    &__btn {
        margin: 0 auto;

        color: #ffffff;

        background-color: $color-blue;

        @media(min-width: $lg){
            margin: 0;
            
        }
    }

    &__btn:hover {
        color: $color-blue;

        background-color: #ffffff;

        transition: 1s;
    }
}









.offers {
    position: relative;

    padding: 50px 0 100px 0;

    background-color: $colour-light-gray;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 80px;
    }

    &__wrap:last-child {
        margin-bottom: 0;
    }

    &__col_lg {
        position: relative;

        display: block;
        width: calc(100% - 30px);
        height: 250px; 
        margin: 0 15px 0 15px; 


        @media(min-width: $sm){
            width: calc(50% - 30px);  
        }
    }

    &__col_lg:hover {
        .offers__stock::before {
            display: block;
        }
    }

    &__col_lg:first-child {
        margin-bottom: 50px;

        @media(min-width: $sm){
            margin-bottom: 0;   
        }
    }

    &__stock {
        width: 100%;
        height: 100%;
        padding-top: 80px;

        border: 3px solid $colour-gray;
        background-color: $colour-white;
    }

    &__stock::before {
        content: "";

        position: absolute;
        left: 5%;
        top: 3%;

        display: none;

        width: 90%;
        height: 94%;

        border: 3px solid $color-blue;
    }

    &__stock_left {
        text-align: center;
    }

    &__stock_right {
        padding-left: 60px;
    }

    &__title {
        font-size: $f-s-md;
    }

    &__subtitle {
        font-size: $f-s-lg;
        color: $color-blue;
    }

    &__year {
        letter-spacing: 7px;
    }

    &__subtitle_blue {
        color: $color-blue;
    }

    &__link {
        font-size: $f-s-sm;
    }

    &__col_sm {
        display: block;
        width: calc(100% - 30px);
        margin: 0 15px 80px 15px;

        @media(min-width: $sm){
            width: calc(33% - 30px);  
            margin-bottom: 0;
        }
    }

    &__col_sm:last-child {
        margin-bottom: 0;
    }

    &__col_sm::before {
        content: url(../svg/headphones.svg);

        position: absolute;

        font-size: $f-s-sm;
    }

    &__info {
        padding-left: 60px;
    }

    &__text {
        color: #3c4852;
    }

    &__col_md {
        position: relative;

        width: calc(100% - 30px);
        height: 500px;  
        margin: 0 15px 20px 15px; 

        @media(min-width: $sm){
            width: calc(50% - 30px); 
        }
        
        @media(min-width: $md){
            width: calc(33% - 30px); 
            margin-bottom: 0; 
        }
    }

    &__detail {
        width: 100%;
        height: 240px;
    }

    &__detail:first-child {
        margin-bottom: 20px;  
    }

    &__pict {
        width: 100%;
        height: 100%;
    }

    &__detail_first {
        clip-path: polygon(0% 0px, 100% 0px, 100% 220px, 0% 240px);
    }
 
    &__detail_second {
        position: relative;

        clip-path: polygon(0% 20px, 100% 0px, 100% 240px, 0% 240px);
    }

    &__btn {
        position: absolute;
        top: 150px;
        left: 1%;

        color: $color-blue;

        @media(min-width: $lg){
            left: 15%;
        }
    }

    &__btn:hover {
        color: #ffffff;

        background-color: $color-blue;

        transition: 1s;
    }

    &__detail_fourth {
        position: relative;

        color: $colour-white;
    }

    &__detail_fourth::before {
        content: "New";

        position: absolute;
        top: 20px;
        left: 20px;

        display: block;
        width: 50px;
        height: 50px;
        padding-top: 13px;

        text-align: center;

        border: 1px solid $color-blue;
        border-radius: 25px;
        background-color: $color-blue;
    }

    &__col_md:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        
        background-color: $colour-white;

        cursor: pointer;

        @media(min-width: $sm){ 
            width: calc(100% - 30px); 
        }

        @media(min-width: $md){
            width: calc(33% - 30px);
        }
    } 
    
    &__col_md:last-child::before {
        content: "";

        position: absolute;
        top: 3%;
        left: 5%;

        width: 90%;
        height: 94%;
        
        border: 3px solid $color-blue;
    }

    &__arrow {
        display: block;
    }
}









.collection {
    padding: 100px 0 100px 0;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
    }  

.card:first-child {
    @media(min-width: $sm){
        margin-bottom: 20px; 
    }
}

.card:nth-child(2) {
    @media(min-width: $sm){
        margin-bottom: 20px; 
    }
}

.card:nth-child(3) {
    @media(min-width: $sm){
        margin-bottom: 20px; 
    }
}

.card:nth-child(4) {
    @media(min-width: $sm){
        margin-bottom: 20px; 
    }
}

.card:nth-child(7) {
    @media(min-width: $xs){
        margin-bottom: 0; 
    }
}

.card:last-child {
    margin-bottom: 0;
}
}









.personal {
    padding: 200px 0 200px 0;

    background-color: #f1edee;

    &__row {
        position: relative;
    }

    &__slider {
        position: absolute;

        display: block;
        width: 45px;

        cursor: pointer;
    }

    &__slider_prev {
        left: 0;

        @media(min-width: $lg){
            left: -45px;
        }
    }

    &__slider_prev-icon {  
        transform: rotate(180deg);
    }

    &__slider_next {
        right: 0;

        text-align: end;

        @media(min-width: $lg){
            right: -45px;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }

    &__title_first {
        display: block;
        margin-bottom: 10px;
        
        font-size: 40px;
        text-align: center;
    }

    &__title_blue {
        color: $color-blue;
    }

    &__title_second {
        margin-bottom: 20px;

        font-size: $f-s-lg;
        text-align: center;
    }  

    &__btn {
        color: $color-blue;
    }

    &__btn:hover {
        color: $colour-white;

        background-color: $color-blue;

        transition: 1s;
    }
}










.featured {
    padding: 100px 0 100px 0;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 50px;
    }

    &__wrap:last-child {
        margin-bottom: 0;
    }

    &__info:first-child {
        margin-bottom: 20px;

        @media(min-width: $sm){
            margin-bottom: 0;
        }
    }

    &__info {
        width: calc(100% - 30px);
        height: 250px;
        margin: 0 15px 0 15px;

        @media(min-width: $sm){
            width: calc(50% - 30px);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        font-size: $f-s-lg;

        border: 20px solid #f7f6f3;

        @media(min-width: $sm){
            margin-bottom: 0;
        }
    }

    &__line:last-child {
        display: block;
        letter-spacing: 5px;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    .card {
        margin-bottom: 20px;

        @media(min-width: $lg){
            margin-bottom: 0;
        }
    }

    .card:nth-child(3) {
        @media(min-width: $xs){
            margin-bottom: 0; 
        }
    }

    .card:last-child {
        margin-bottom: 0;
    }
}









.news {
    padding: 100px 0 100px 0;

    background-color: $colour-light-gray;

    &__title {
        width: 100%;
        margin-bottom: 50px;

        text-align: center;
    }

    &__wrap{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    &__wrap:last-child {
        margin-bottom: 0;
    }
}









.product {
    margin-bottom: 100px;
    padding-top: 100px;

    &__title {
        margin-bottom: 15px;

        font-size: $f-s-md;
    }

    &__col {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 15px 50px 15px;

        @media(min-width: $sm){
            width: calc(33% - 30px);
            margin-bottom: 0;
        }
    }

    &__col:nth-child(2) {
        align-items: center;
        padding-left: 80px;
    }

    &__col:last-child {
        align-items: flex-end;
        margin-bottom: 0;

        .product-card {
            justify-content: flex-end;
        }

        .product-card__pict {
            order: 2;

            margin-right: 0;
        }

        .product-card__details {
            order: 1;
            margin-right: 15px;

            text-align: end;
        }

        .product-card__basket {
            order: 2;

            margin-right: 0;
        }

        .product-card__like {
            order: 1;

            margin-right: 15px;
        }
    }
}









.newsletter {
    margin-bottom: 50px;

    &__col {
        width: calc(100% - 30px);
        height: 250px;
        margin: 0 15px 0 15px;

        @media(min-width: $sm){
            width: calc(50% - 30px);
        }
    }

    &__col:first-child {
        margin-bottom: 20px;

        @media(min-width: $sm){
            margin-bottom: 0;
        }
    }

    &__border {
        position: relative;  

        width: 100%;
        height: 100%;

        background-color: $colour-gray; 
    }

    &__border:before {
        content: "";

        position: absolute;
        top: 25px;
        left: 5%;

        width: 90%;
        height: 200px;

        border: 5px solid $colour-white;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;

        background-color: $colour-light-gray;
    }

    &__title {
        display: block;
        margin-bottom: 10px;

        font-size: $f-s-lg;
    }

    &__subtitle {
        display: block;
        margin-bottom: 10px;

        font-size: $f-s-sm;
    }

    &__form {
        display: flex;
        align-items: center;
        width: 250px;
        height: 40px;
        padding-left: 15px;

        font-size: $f-s-xs;

        border: 1px solid $colour-gray;
    }

    &__email {
        margin-right: 65px;

        background-color: $colour-light-gray;
    }

    &__btn {
        cursor: pointer;
    }

    &__arrow {
        width: 20px;
        height: auto;
    }
}









.brand {
    padding: 80px 0 80px 0;

    background-color: $colour-light-gray;

    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-bottom: 20px;

        @media(min-width: $sm){
            width: 33%;
        }

        @media(min-width: $md){
            width: 16.66%;
            margin-bottom: 0;
        }
    }

    &__item:nth-child(4) {
        @media(min-width: $sm){
            margin-bottom: 0;
        }  
    }

    &__item:nth-child(5) {
        margin-bottom: 0;
    }

    &__item:last-child {
        margin-bottom: 0;
    }
}









.footer {
    padding-top: 50px;

    font-size: $f-s-sm;

    &__col {
        width: calc(100% - 30px);
        margin: 0 15px 50px 15px;

        @media(min-width: $sm){
            width: calc(50% - 30px);
        }

        @media(min-width: $md){
            width: calc(25% - 30px);
            margin-bottom: 0;
        }
    }

    &__col:nth-child(2) {    
        @media(min-width: $sm){
            padding-left: 80px;
        }
    }

    &__col:nth-child(3) {
        @media(min-width: $sm){
            margin-bottom: 0;
        }
    }

    &__col:last-child {
        margin-bottom: 0;
    }

    &__logo {
        display: block;
        width: 50%;
        margin-bottom: 15px;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__insta {
        display: flex;
        flex-wrap: wrap
    }

    &__col_sm {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 50%;
        margin-bottom: 20px;
        padding-bottom: 20px;

        border-bottom: 1px solid $colour-gray;
    }

    &__imgs {
        width: 60px;
    }

    &__pict {
        width: 100%;
        height: auto;
    }
    
    &__cards {
        display: flex;
        justify-content:flex-start;
        padding-bottom: 20px;

        border-bottom: 1px solid $colour-gray;

        @media(min-width: $sm){
            padding-left: 5px;
        }
    }

    &__cards-link {
        display: block;
        margin-right: 5px;
        width: 25px;

        @media(min-width: $sm){
            width: 30px;
        }
    }

    &__cards-link:last-child {
        margin-right: 0;
    }

    &__cards-img {
        width: 100%;
        height: auto;
        
    }


    &__social {
        display: flex;
        justify-content: center;
        width: 350px;
        margin: 0 auto 20px auto;
        padding-bottom: 20px;

        border-bottom: 1px solid $colour-gray;
    }

    &__social-item {
        margin-right: 10px;
    }

    &__social-item:last-child {
        margin-right: 0;
    }

    &__social-img {
        width: 25px;
        height: 25px;
    }

    &__copyright {
        display: block;
        width: 100%;
        height: 40px;
        padding-top: 13px;
        
        font-size: $f-s-xs;
        text-align: center;
        color: $colour-white;

        background-color: $color-blue;
    }
}









