.shop-head {
    height: 100vh;
    padding-top: 190px;

    text-align: center;  

    &__row {
        flex-direction: column;
    }

    &__breadcrumbs {
        display: flex;
        margin: 0 auto 10px auto;
  
        font-size: $f-s-lg;
    }

    &__breadcrumbs-link {
        color: #9aa6b9;
    }

    &__title {
        color: #3c4852;
        font-size: 50px;
    }
}









.shop {
    padding: 90px 0 20px 0;

    border-bottom: 1px solid $colour-gray;

    &__products {
        width: calc(100% - 30px);
        margin: 0 15px 0 15px;

        @media(min-width: $sm){
            width: calc(70% - 30px);  
        }
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 10px;

        border-bottom: 1px solid $colour-gray;
    }

    &__header-col {
        display: flex;
        flex-wrap: wrap;
        margin: 0 15px 10px 15px;

        @media(min-width: $lg){
            margin-bottom: 0;        
        }
    }

    &__header-col:nth-child(3) {
        margin-bottom: 0;
    }

    &__header-col:last-child {
        margin-bottom: 0;
    }

    &__grid {
        width: calc(50% - 30px);

        @media(min-width: $lg){
            width: calc(15% - 30px);        
        }
    }

    &__grid-link:first-child {
        margin-right: 15px;
    }

    &__grid-icon {
        width: 15px;
        height: 15px;
    }

    &__colors {
        width: calc(50% - 30px);

        @media(min-width: $lg){
            width: calc(35% - 30px);        
        }
    }

    &__color {
        display: block;
        width: 15px;
        height: 15px;;
        margin-right: 10px;
        padding-bottom: 5px;
    }

    &__color:first-child {
        background-color: #f44336;
    }

    &__color:nth-child(2) {
        background-color: #4caf50;
    }

    &__color:nth-child(3) {
        background-color: #2196f3;
    }

    &__color:nth-child(4) {
        background-color: #3f51b5;
    }

    &__color:nth-child(5) {
        background-color: #ffeb3b;
    }

    &__color:nth-child(6) {
        background-color: #ff5722;
    }

    &__color:last-child {
        margin-right: 0;

        background-color: $color-blue;
    }

    &__sort {
        width: calc(50% - 30px);

        @media(min-width: $lg){
            width: calc(25% - 30px);        
        }
    }

    &__sort-text {
        margin-right: 10px;
    }

    &__sort-link {
        cursor: pointer;
    }

    &__sort-arrow {
        width: 15px;
        height: 15px;
    }

    &__cards {
        margin-bottom: 20px;
    }

    &__pag {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__pag-item {
        margin-right: 35px;
    }

    &__pag-item:last-child {
        margin-right: 0;
    }

    &__pag-link:hover {
        color: $color-blue;

        border-bottom: 2px solid $color-blue;
    }

    &__aside {
        display: none;
        width: calc(30% - 30px);
        margin: 0 15px 0 15px;

        font-size: $f-s-sm;
        
        @media(min-width: $sm){
            display: block;        
        }
    }

    &__aside-part {
        margin-bottom: 20px;
    }

    &__aside-part:last-child {
        margin-bottom: 0;
    }

    &__aside-title {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px;

        border-bottom: 1px solid $colour-gray;
    }

    &__aside-row {
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px;

        border-bottom: 1px solid $colour-gray;
    }

    &__aside-title-price {
        margin-bottom: 20px;
    }

    &__aside-slider {
        position: relative;

        margin-bottom: 20px;

        height: 5px;
        background-color: $color-blue;
    }

    &__aside-slider:before {
        content: "";

        position: absolute;
        top: -5px;
        left: 0px;

        width: 5px;        
        height: 15px;
        background-color: $color-blue;
    }

    &__aside-slider:after {
        content: "";

        position: absolute;
        top: -5px;
        right: 0px;

        width: 5px;        
        height: 15px;
        background-color: $color-blue;
    }

    &__aside-slider_under {
        display: flex;
        justify-content: space-between;
    }

    &__aside-input {
        width: 30px;
    }

    &__aside-btn {
        color: $color-blue;
    }

    &__aside-btn:hover {
        color: #ffffff;

        background-color: $color-blue;

        transition: 1s;
    }

    &__aside-quant {
        font-size: $f-s-xs;
    }

    &__aside-interval {
        padding-top: 6px;
    }

    &__asid-line {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 10px;
    }

    &__asid-line:last-child {
        margin-bottom: 0;
    }

    &__asid-line:last-child {
        margin-bottom: 0;
    }

    &__aside-btn {
        width: 90px;
        height: 30px;
    }

    &__aside-btn:hover {
        color: $colour-gray;

        background-color: $color-blue;
    }

    &__aside-card {
        display: flex;
        padding: 20px 0 20px 0;

        border-bottom: 1px solid $colour-gray;
    }

    &__card-pict {
        display: block;
        width: 30%;  
    }

    &__card-img {
        width: 100%;
        height: auto;
    }

    &__card-info {
        padding-left: 15px;
    }

    &__card-name:hover {
        color: $color-blue;
    }

    &__aside-keyword {
        width: 90%;
        height: 25px;
        margin-bottom: 10px;

        color: #656c72;

        background-color: $colour-light-gray;
        border: 2px solid $colour-light-gray;

        transition: 1s;

        @media(min-width: $sm){
            width: 45%;
            margin-right: 10px;   
        }

        @media(min-width: $md){
            width: 30%;
            margin-right: 10px;   
        }
    }

    &__aside-keyword:nth-child(2n) {
        @media(min-width: $sm){
            margin-right: 0;   
        }

        @media(min-width: $md){
            margin-right: 10px;   
        }
    }

    &__aside-keyword:nth-child(3n) {
        @media(min-width: $md){
            margin-right: 0;   
        }
    }

    &__aside-keyword:nth-child(4) {
        @media(min-width: $md){
            margin-bottom: 0;   
        }
    }

    &__aside-keyword:nth-child(5) {
        @media(min-width: $sm){
            margin-bottom: 0;   
        }
    }

    &__aside-keyword:last-child {
        margin-bottom: 0;
    }

    &__aside-keyword:hover {
        color: $colour-white;

        background-color: $color-blue;
        border: 2px solid $color-blue;
    }
}






